package glair.vision;

import glair.vision.Vision;
import glair.vision.model.VisionSettings;

public class App {
  public static void main(String[] args) {
    VisionSettings visionSettings = new VisionSettings.Builder()
        .username("username")
        .password("password")
        .apiKey("apiKey")
        .build();

    Vision vision = new Vision(visionSettings);

    String response = "";

    try {
      response = vision
          .ocr()
          .ktp("/path/to/image.jpg");
    } catch (Exception e) {
      response = e.getMessage();
    }

    System.out.println("Response: " + response);
  }
}
